.gallery-container {
    display: flex;
    position: relative;
    height: 100%;
    padding: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: auto;
}

.single-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.naw-string {
    display: flex;
    /* width: 100px; */
    height: 20px;
    /* align-items: center; */
    justify-content: center;
    padding-top: 10px;

}

.naw-element {
    width: 0px;
    height: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
}

.black {
    border: 10px rgba(0, 0, 0, 0.5) solid;
}

.white {
    border: 10px rgba(255, 255, 255, 0.5) solid;
}

.controll {
    height: 100px;
    width: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    filter: opacity(50%);

    /* background-color: white; */
}

.left {
 transform: rotate(180deg);
}

.hover {
    transition: all 0.5s ease-in-out;
}

.hover:hover {
    scale: 1.1;
}


.other {
    background-color: aqua;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
}

.img-item {
    margin: 2px;
    background-color: black;
    border: 2px rgba(0, 0, 0, 0.329) solid;
    border-radius: 5%;
}

.add-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    border: none;
    background-color: #a8a8a8;
    color: black;
    border-radius: 10px;
    transition: all 2s ease;
}

.add-foto:hover {
    color: white;
    background-color: black;
    border-color: #c8c8c8;
    border-radius: 2px;
}

.orientation {

    margin: 20px;

    display: flex;
    justify-content:right;
}